html{
    scroll-behavior: smooth;   
}
body{
    font-family: "playfair display", "arial", "sans-serif";
    margin: 0 auto;
    position: relative;    
}
Nav,
#checkbox-menu
{
    Display: none;
}
main,
#checkbox-menu,
header,
.header img,
footer,
img,
.container-image,
.container-CTA,
{
    position: relative;
}
main{
    padding: 50px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}
nav{
    top: 100px;
    text-decoration: none;
    position: absolute;   
}
Nav,
header,
footer{
    background: #0A3641;  
}
#checkbox-menu{
    left: 10px
}
#checkbox-menu:checked ~ nav,
header,
img,
nav a
{
    display: block; 
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}
.active,
a,
footer
{
    color: white;
}
header{
    width: auto;
    height: 80px;
    color: white;
    font-size: 2.2rem;
}
.header img{
    float: right;
    height: 43px;
    width: auto;
    border: 20px solid; 
    margin-top: 0px;   
}
a{
    text-decoration: none;  
}
a:hover{
    text-decoration: underline;
}
@media (min-width: 600px) {
    nav {
    display: block;
    position: static;
    }
    .menu-icon {
    display: none;
    }
    nav a {
        display: inline;
    } 
}
footer{
    text-decoration: none;
    bottom: 0;
    width: auto;
    padding: 20px;
}
img{
    max-width: 100%;
    height: auto;
    
    margin: 50px 0px 0px 30px
}
.container-image,
.container-CTA{
    display: flex;
}
.container-image,
.container-CTA{
    flex-direction: column;
}
.container-image{
height: auto;
width: 400px;
}
.productimage,
.product{
    flex: 1;  
}
@media only screen and (min-width: 600px){
    .container-image{
        flex-direction: row;
    } 
}
.container-CTA{
margin: 50px;
}
.product{
border: 5px #0A3641;
padding: 75px
}
@media only screen and (min-width: 600px){
    .container-CTA{
        flex-direction: row;
    } 
}
