html{
    scroll-behavior: smooth;   
}
body{
    font-family: "playfair display", "arial", "sans-serif";
    margin: 0 auto;
    position: relative;  
}
main{
    position: relative;
    padding: 50px;
    text-align: center;
    margin: 0px 0px 0px 30px;
}
nav{
    display: none;
    top: 100px;
    text-decoration: none;
    background: #0A3641;
    position: absolute;   
}
#checkbox-menu{
    display: none;
    position: relative;
    left: 10px
}
#checkbox-menu:checked ~ nav {
    display: block;  
}
nav, #checkbox-menu{
    display:none;
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    border: 10px;
}
.active{
    text-decoration: dotted;
    color: white;
}
header{
    width: auto;
    height: 80px;
    background: #0A3641;
    position: relative;
    color: white;
    font-size: 2.2rem;
    display: block;
}
.header img{
    position: relative;
    float: right;
    height: 43px;
    width: auto;
    border: 20px solid; 
    margin-top: 0px;   
}
a{
    color: white;
    text-decoration: none;  
}
a:hover{
    text-decoration: underline;
}
@media (min-width: 600px) {
    nav {
    display: block;
    position: static;
    }
    .menu-icon {
    display: none;
    }
    nav a {
        display: inline;
    } 
}
footer{
    background: #0A3641;
    color: white;
    text-decoration: none;
    position:relative;
    bottom: 0;
    width: auto;
    padding: 20px;
}
img{
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 50px 0px 0px 30px
}
